<div class="card card-success card-tabs mb-0">
	<div class="card-header p-0 pt-1">
		<ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
			<li class="nav-item"><a class="nav-link active"
				id="custom-tabs-one-ttin-tab" data-toggle="pill"
				href="#custom-tabs-one-ttin" role="tab"
				aria-controls="custom-tabs-one-ttin" aria-selected="true">{{strName1}}</a></li>
		</ul>
	</div>
</div>
<div class="card-body">
	<div class="tab-content" id="custom-tabs-one-tabContent">
		<div class="tab-pane active show" id="custom-tabs-one-profile"
			role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
			<div class="filter">
				<div class="card">
					<!-- /.card-header -->
					<div class="card-body">
						<form>
							<div class="row">
								<div class="form-group col-md-4">
									<label for="vt" class="pl-2">{{strName2}}</label> <select
										type="text" name="name" id="vt" class="form-control"
										data-ng-model="selectRole" data-ng-change="changeRole()">
										<option value="">-- {{Chooseyourrole}} --</option>
										<option data-ng-repeat="x in RoleList" value={{x.id}}>{{x.displayText}}</option>
									</select>
								</div>
							</div>
							<div class="row text-danger pl-2" style= "margin-top: -15px;">{{messagerole}}</div>
						</form>
					</div>
				</div>
				<!-- /.card-body -->
			</div>
		</div>

		<div class="card-body px-1 mt-2 pt-2">
			<div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
				<div class="row">
					<div class="col-sm-12 table  mailbox-messages">
						<div class="title-table col-12 bg-success p-2">
							<b>{{strName6}}</b>
						</div>
						<div id="myGridTable" style="height: 380px;"
							class="table-responsive"></div>
					</div>
					<div class="form-group col-md-4 mt-2">
						<input type="submit" name="submit" id="submit"
							class="btn btn-success" value="Phân quyền"
							data-ng-click="btnDecentralization()">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>