
<div class="card card-success card-tabs mb-0">

	<div class="card-header p-0 pt-1">
		<ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
			<li class="nav-item"><a class="nav-link "
				data-ng-class="{active: isActiveTab('info')}"
				id="custom-tabs-one-ttin-tab" data-toggle="pill"
				href="custom-tabs-one-ttin" role="tab"
				aria-controls="custom-tabs-one-ttin" aria-selected="false"
				data-ng-click="clickTab('info');">{{CanProfile25}}</a></li>
			<li class="nav-item"><a class="nav-link "
				data-ng-class="{active: isActiveTab('educate')}"
				id="custom-tabs-one-dtao-tab" data-toggle="pill"
				href="custom-tabs-one-dtao" role="tab"
				aria-controls="custom-tabs-one-dtao" aria-selected="false"
				data-ng-click="clickTab('educate');">{{canPer0}}</a></li>
			<li class="nav-item"><a class="nav-link "
				data-ng-class="{active: isActiveTab('skill')}"
				id="custom-tabs-one-nluc-tab" data-toggle="pill"
				href="custom-tabs-one-nluc" role="tab"
				aria-controls="custom-tabs-one-nluc" aria-selected="false"
				data-ng-click="clickTab('skill');">{{canPer28}}</a></li>
			<li class="nav-item"><a class="nav-link "
				data-ng-class="{active: isActiveTab('exp')}"
				id="custom-tabs-one-exp-tab" data-toggle="pill"
				href="custom-tabs-one-exp" role="tab"
				aria-controls="custom-tabs-one-exp" aria-selected="false"
				data-ng-click="clickTab('exp');">{{canPer30}}</a></li>
			<li class="nav-item"><a class="nav-link "
				data-ng-class="{active: isActiveTab('review')}"
				id="custom-tabs-one-rview-tab" data-toggle="pill"
				href="custom-tabs-one-rview" role="tab"
				aria-controls="custom-tabs-one-rview" aria-selected="false"
				data-ng-click="clickTab('review');">{{canPer23}}</a></li>

		</ul>
	</div>

	<div class="card-body" style="min-height: 670px">
		<div class="tab-content" id="custom-tabs-four-tabContent">
			<div class="tab-pane " id="custom-tabs-one-ttin"
				data-ng-class="{active: isActiveTab('info')}" role="tabpanel"
				aria-labelledby="custom-tabs-one-ttin-tab">
				<div class="infomation ">
					<section>
						<div class="card card-success">
							<!--Titleform-->
							<div class="card-header">
								<h3 class="card-title">{{CanProfile25}}</h3>
							</div>
							<div class="card-body px-2 py-2">
								<div class="form row ml-2">
									<div class="form-group col-md-9">
										<div class="row">
											<div class="col-md-6 mt-2">
												<div class="row">
													<div class="col-md-4 mt-2">
														<label>{{CanProfile2}}:</label>
													</div>
													<div class="col-md-8 mt-2">{{nameCanProfile}}</div>
												</div>
											</div>
											<div class="col-md-6 mt-2">
												<div class="row">
													<div class="col-md-5 mt-2">
														<label>{{CanProfile13}}:</label>
													</div>
													<div class="col-md-7 mt-2">{{birthCanProfile}}</div>
												</div>
											</div>

											<div class="col-md-6 mt-2">
												<div class="row">
													<div class="col-md-4 mt-2">
														<label>{{CanProfile5}}:</label>
													</div>
													<div class="col-md-8 mt-2">{{genderCanProfile}}</div>
												</div>
											</div>
											<div class="col-md-6 mt-2">
												<div class="row">
													<div class="col-md-5 mt-2">
														<label>{{CanProfile14}}:</label>
													</div>
													<div class="col-md-7 mt-2">{{foneCanProfile}}</div>
												</div>
											</div>
											<div class="col-md-6 mt-2">
												<div class="row">
													<div class="col-md-4 mt-2">
														<label>{{CanProfile21}}:</label>
													</div>
													<div class="col-md-8 mt-2">{{emailCanProfile}}</div>
												</div>
											</div>
											<div class="col-md-6 mt-2">
												<div class="row">
													<div class="col-md-5 mt-2">
														<label>{{CanProfile26}}:</label>
													</div>
													<div class="col-md-7 mt-2">{{familyCanProfile}}</div>
												</div>
											</div>
											<div class="col-md-12 mt-2">
												<div class="row">
													<div class="col-md-2 mt-2">
														<label>{{CanProfile15}}:</label>
													</div>
													<div class="col-md-10 mt-2">{{addressCanProfile}}</div>
												</div>
											</div>
											<div class="col-md-6 mt-2">
												<div class="row">
													<div class="col-md-4 mt-2">
														<label>{{CanProfile23}}:</label>
													</div>
													<div class="col-md-8 mt-2">{{receiverDateCanProfile}}</div>
												</div>
											</div>
											<div class="col-md-6 mt-2">
												<div class="row">
													<div class="col-md-5 mt-2">
														<label>{{CanProfile27}}:</label>
													</div>
													<div class="col-md-7 mt-2">{{jobAppCanProfile}}</div>
												</div>
											</div>
											<div class="col-md-6 mt-2">
												<div class="row">
													<div class="col-md-4 mt-2">
														<label>{{CanProfile3}}:</label>
													</div>
													<div class="col-md-8 mt-2">{{positionAppCanProfile}}</div>
												</div>
											</div>
											<div class="col-md-6 mt-2">
												<div class="row">
													<div class="col-md-5 mt-2">
														<label>{{CanProfile11}}:</label>
													</div>
													<div class="col-md-7 mt-2">{{sttProfileCanProfile}}</div>
												</div>
											</div>
										</div>
									</div>


									<div class="pict col-md-3 mt-3">
										<div class="row text-center">
											<div class="col-md-2 col-2"></div>
											<img src="images/avatar/{{hashtag}}" alt="Description"
												class="rounded col-md-8 col-8 mb-3">
											<div class="col-md-2 col-2"></div>
										</div>
										<!-- <div class="row mb-3 text-center mt-2">
											<div class="col-md-3 col-4"></div>
											<button type="submit" class="btn btn-success col-md-6 col-4 ">Browser...</button>
											<div class="col-md-3 col-4"></div>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="content">
						<div class="row">
							<div class="col-md-12">
								<div class="card card-success">
									<div class="card-header">
										<h3 class="card-title font-weight-unset">{{CanProfile28}}:</h3>
									</div>
									<!-- /.card-header -->
									<div class="card-body pad">
										<div class="mb-3">
											{{descripText}}
											<!-- <div class="textarea" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" >{{descripText}}</div> -->
										</div>
									</div>
								</div>
							</div>
							<!-- /.col-->
						</div>
						<!-- ./row -->
					</section>
					<div class="button row mb-4 ml-3"></div>
				</div>
			</div>


			<div class="tab-pane" id="custom-tabs-one-dtao"
				data-ng-class="{active: isActiveTab('educate')}" role="tabpanel"
				aria-labelledby="custom-tabs-one-dtao-tab">
				<section class="content">
					<div class="row">
						<div class="col-md-12">
							<div class="card card-success">
								<div class="card-header">
									<h3 class="card-title font-weight-unset">{{canPer1}}</h3>
								</div>
								<div class="card-body pad">
									<div id="gridEducate" class="table-responsive pl-2"
										style="height: 400px;"></div>
								</div>
							</div>
						</div>
						<!-- /.col-->
					</div>
				</section>
			</div>
			<div class="tab-pane " id="custom-tabs-one-nluc"
				data-ng-class="{active: isActiveTab('skill')}" role="tabpanel"
				aria-labelledby="custom-tabs-one-nluc-tab">
				<section class="content">
					<div class="row">
						<div class="col-md-12">
							<div class="card card-success">
								<div class="card-header">
									<h3 class="card-title font-weight-unset">{{canPer30}}</h3>
								</div>

								<div class="card-body pad">
									<div id="gridSkills" class="table-responsive pl-2"
										style="height: 400px;"></div>
								</div>
							</div>
						</div>
						<!-- /.col-->
					</div>
				</section>
			</div>


			<div class="tab-pane " id="custom-tabs-one-exp"
				data-ng-class="{active: isActiveTab('exp')}" role="tabpanel"
				aria-labelledby="custom-tabs-one-exp-tab">
				<section class="content">
					<div class="row">
						<div class="col-md-12">
							<div class="card card-success">
								<div class="card-header">
									<h3 class="card-title font-weight-unset">{{canPer31}}</h3>
								</div>

								<div class="card-body pad">
									<div id="gridExp" class="table-responsive pl-2"
										style="height: 400px;"></div>
								</div>
							</div>
						</div>
						<!-- /.col-->
					</div>

				</section>
			</div>


			<div class="tab-pane " id="custom-tabs-one-rview"
				data-ng-class="{active: isActiveTab('review')}" role="tabpanel"
				aria-labelledby="custom-tabs-one-rview-tab">
				<section class="content">
					<div class="row">
						<div class="col-md-12">
							<div class="card card-success">
								<div class="card-header">
									<h3 class="card-title font-weight-unset">{{canPer23}}</h3>
								</div>
								<!-- /.card-header -->
								<div class="card-body pad">
									<div id="gridReview" class="table-responsive pl-2"
										style="height: 400px;"></div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<button type="submit" class="btn btn-success mr-2"
						data-ng-click="backHome()">{{canPer34}}</button>
					<button type="submit" class="btn btn-success mr-2"
						data-ng-click="editCanprofile()">{{canPer33}}</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- /.content -->