<div class="card card-success card-tabs">
	<!--nav-tab-->
	<div class="card-header p-0 pt-1">
		<ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
			<li class="nav-item"><a class="nav-link active"
				id="custom-tabs-one-nluc-tab" data-toggle="pill"
				href="#custom-tabs-one-nluc" role="tab"
				aria-controls="custom-tabs-one-nluc" aria-selected="false">{{translateLabel0}}</a></li>
		</ul>
	</div>
	<!--end.nav-tab-->
	<!--content-tab-->
	<div class="card-body">
		<div class="tab-content" id="custom-tabs-one-tabContent">
			<!--content-tag-nangluc-->
			<div class="tab-pane show active" id="custom-tabs-one-nluc"
				role="tabpanel" aria-labelledby="custom-tabs-one-nluc-tab">
				<section class="content">
					<div class="card card-success">
						<!--Titleform-->
						<div class="card-header p-0">
							<span class=" p-2 font-weight-unset">{{translateLabel1}}</span>
							<div class="card-tools">
								<button type="button" data-ng-click="btnEditClick()"
									class="btn btn-tool" data-card-widget="collapse"
									data-toggle="tooltip" title="Collapse">
									<i class="fas fa-minus mb-3"></i>
								</button>
							</div>
						</div>
						<!--end-Titleform-->
						<!--colform-->
						<div class="card-body px-2 py-2">
							<form>
								<div class="row">
									<div class="col-md-3 col-lg-3 form-group mb-0">
										<label for="lang">{{translateLabel2}}</label> <select id="lang"
											class="form-control" data-ng-model="dropScreens">
											<option ng-repeat="x in dataScreens " value="{{x.id}}">{{x.displayText}}</option>
										</select>

									</div>
									<!--column1-->
									<div class="col-md-3 col-lg-3 form-group mb-0">
										<label for="lang">{{translateLabel3}}</label> <select id="lang"
											class="form-control" data-ng-model="dropLangStart">
											<option ng-repeat="x in dataLang " value="{{x.langCode}}">{{x.displayText}}</option>
										</select>

									</div>
									<div class="col-md-3 col-lg-3 form-group mb-0">
										<label for="status">{{translateLabel4}}</label> <select id="status"
											class="form-control" data-ng-model="dropLangEnd">
											<option ng-repeat="x in dataLang " value="{{x.langCode}}">{{x.displayText}}</option>
										</select>

									</div>
									<div class="col-md-3 col-lg-3 form-group mb-0">
										<label for="status">{{translateLabel5}}</label> <select id="status"
											class="form-control" data-ng-model="dropStatus">
											<option ng-repeat="x in dataStatus " value="{{x.code}}">{{x.displayText}}</option>
										</select>

									</div>
									<div class="col-md-3 col-lg-3 form-group mb-0">
										<div class="row">
											<div class="col-md-6">
												<label for=""></label>
												<button type="button" class="btn-success form-control " data-ng-click="fnSearch()">{{translateLabel1}}</button>
											</div>
											
										</div>
									</div>

									<!--end-column1-->
								</div>
							</form>
						</div>
						<!--end-rowform-->
					</div>

				</section>
				<section class="content">

					<div class="card card-success">
						<!--Titleform-->
						<div class="card-header p-0">
							<span class=" p-2 font-weight-unset">{{translateLabel6}}</span>
							<div class="card-tools">
								<button type="button"
									class="btn btn-tool" data-card-widget="collapse"
									data-toggle="tooltip" title="Collapse">
									<i class="fas fa-minus mb-3"></i>
								</button>
							</div>
						</div>
					
						<!--end-Titleform-->
						<!--table-->
						<div id="gridTranslate" class="card-body table-responsive pt-0 "
							style="height: 400px;"></div>
						<!--end-table-->
						<div class='row'>
							<div class="col-md-6 my-3 pl-4">
								<span>Views</span> <select class="mx-3 px-3 py-1" data-ng-model='limitValue' data-ng-change='changeValuelimit()'>
									<option value="5">5</option>
									<option value="10">10</option>
									<option value="15">15</option>
									<option value="20">20</option>
								</select> <span>Items per page</span>
							</div>
						<div class="col-md-6 my-3" id="paginationTranslate"></div>
						
						</div>
						
						<div class="col-md-3 col-lg-3 form-group mb-0">
							<div class="row">
								<div class="col-md-5">
								<label for=""></label>
								<button type="button" class="btn-success form-control my-3 " data-ng-click="fnSaveTranslate()">{{translateLabel11}}</button>
								</div>		
							</div>
						</div>
					</div>

				</section>
			</div>
			<!--end.content-tag-nangluc-->

		</div>
	</div>
	<!--end.content-tab-->
</div>
