<div class="modal-content mt-10">
	<!--modal header-->
	<div class="modal-header f_title py-1 bg-success p-3">
		<h5 class="modal-title">{{modalTitle}}</h5>
		<button type="button" class="close" data-ng-click="fnCloseAdd()">&times;</button>
	</div>
	<!--modal boy-->
	<form>
		<div class="modal-body">
			<div class="row">
				<div class="col-12">
					<div class="row pb-3 pr-3">
						<label for="modaledit2" class="col-3 mt-2">Mã {{codeAddCatI}}<span
							style="color: red">*</span>:
						</label> <input type="text"
							class="col-9 form-control border border-success"
							data-ng-model="roleCode">
						<div class="col-3"></div>
						<div class="col-9 small text-danger">{{CodeMess}}</div>
					</div>
				</div>
				<div class="col-12">
					<div class="row pb-3 pr-3">
						<label for="modaledit1" class="col-3 mt-2">Trạng thái<span
							style="color: red">*</span>:
						</label> <select class="col-9 form-control border border-success"
							data-ng-model="selectStatusModal">
							<option data-ng-repeat="x in modalStatus" value="{{x.id}}">{{x.displayText}}</option>
						</select>
						<div class="col-6"></div>
						<div class="col-6 small text-danger">{{statusMess}}</div>
					</div>


				</div>
				<div class="col-12">
					<div class="row pb-3 pr-3">
						<label for="modaledit2" class="col-3 mt-2">Ngôn ngữ<span
							style="color: red">*</span>:
						</label> <select class="col-9 form-control border border-success"
							data-ng-model="selectLanguageModal"
							data-ng-change="changeLanguageModal()">
							<option data-ng-repeat="x in languageModal" value="{{x.langCode}}">{{x.displayText}}</option>
						</select>
						<div class="col-6"></div>
						<div class="col-6 small text-danger">{{languageMess}}</div>
					</div>
				</div>

				<div class="col-12">
					<div class="row pb-3 pr-3">
						<label for="modaledit2" class="col-3 mt-2">Tên {{nameAddCatI}}<span
							style="color: red">*</span>:
						</label> <input type="text"
							class="col-9 form-control border border-success"
							data-ng-model="roleName">
						<div class="col-3"></div>
						<div class="col-9 small text-danger">{{NameMess}}</div>
					</div>
				</div>

			</div>

		</div>
		<div class="modal-footer justify-content-center py-1">
			<button type="button" class="btn btn-success"
				data-ng-click="fnsaveAndNext()">Lưu và tiếp</button>
			<button type="button" class="btn btn-success"
				data-ng-click="fnsaveAndAdd()">Lưu và thêm</button>
			<button type="button" class="btn btn-success"
				data-ng-click="fnsaveAndClose()">Lưu và đóng</button>
			<button style="width: 100px;" type="button" class="btn btn-success"
				data-ng-click="fnCloseAdd()">Đóng</button>
		</div>
	</form>
</div>