<!--content-tab-->
<div class="modal-content">
<!-- <div class="card-body"> -->
	<!-- <div class="tab-content" id="custom-tabs-one-tabContent"> -->
		<!--content-tab-ttin-->
<!-- 		<div class="tab-pane " id="custom-tabs-one-ttin" role="tabpanel"
			aria-labelledby="custom-tabs-one-ttin-tab"></div> -->
		<!--end.content-tab-ttin-->
		<!--content-tab-dtao-->
<!-- 		<div class="tab-pane " id="custom-tabs-one-dtao" role="tabpanel"
			aria-labelledby="custom-tabs-one-dtao-tab"></div> -->
		<!--end.content-tab-dtao-->
		<!--content-tag-nangluc-->
<!-- 		<div class="tab-pane show active" id="custom-tabs-one-nluc"
			role="tabpanel" aria-labelledby="custom-tabs-one-nluc-tab"> -->
			<section class="content">

				<div class="card card-success">
				<div class="modal-header  bg-success pb-0">
					<!--Titleform-->
				<!-- 	<div class="card-header pb-0"> -->
						<h4 class="pt-3 scard-title">Cập nhật thông tin kinh nghiệm</h4>

						<!-- <div class="card-tools"> -->
							<button type="button"
								class="mt-2 btn btn-lg" data-ng-click="closeModal()">&times;
								<!-- <i class="fas fa-minus mb-3"></i> -->
							</button>
						<!-- </div> -->
					<!-- </div> -->
					</div>
					<!--end-Titleform-->
					<!--colform-->
					<div class="form tabkinhnghiem">
						<form class="px-2">
						<div class="modal-body modal-profile ">
							<div class="row timework">
								<div class="col-md-2">
									<label for="start1" >Thời gian từ</label> 
									<div class="input-group fromdate" id="fromdate" data-target-input="nearest">
									<input id="start1" type="text" data-target="#fromdate" 
									data-ng-model="fromdate" class="form-control datetimepicker-input"/>
										<div class="input-group-append" data-target="#fromdate"
											data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<label for="start2" >Đến</label> 
									<div class="input-group todate" id="todate" data-target-input="nearest">
									<input id="start2" type="text" data-target="#todate" 
										data-ng-model="todate" class="form-control datetimepicker-input"/>
										<div class="input-group-append" data-target="#todate"
											data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i>
											</div>
										</div>
									</div>	
								</div>
								<div class="noilamviec col-md-3 col-sm-3 col-3 form-group">
									<div>
										<label class="col-12">Nơi làm việc</label>
	<!-- 									<input type="text" class="col-12 form-control" id="Workplace"
											placeholder="" data-ng-model="selectWorkplace"> -->
										<div class="input-group">
											<select class="form-control select2" style="width: 100%" data-ng-model="selectWorkplace" >
												<option ng-repeat="x in Workplace" value="{{x.id}}">{{x.displayText}}</option>
											</select>
											<div class="input-group-append" >
												<button class="input-group-text" data-ng-click="btnOpenWorkplace();">
													<i class="fa fa-plus"></i>
												</button>
											</div>
										</div> 
									</div>
								</div>
								<div class="diachi col-md-5 col-sm-5 col-5 form-group">
									<div>
										<label for="add1" class="col-12">Tên tổ chức, địa chỉ</label>
										<input type="text" class="col-12 form-control" id="organizationname"
											placeholder="" data-ng-model="organizationname">
									</div>
								</div>
							</div>


							<div class="row loaicongviec">
								<div class="noilamviec col-md-3 col-sm-6 col-6 form-group">
									<div>
										<label class="col-12">Loại công việc</label>
										<div class="input-group">
											<select class="form-control select2" style="width: 100%" data-ng-model="selectTypeOfWork">
												<option ng-repeat="x in TypeOfWork" value="{{x.id}}">{{x.displayText}}</option>
											</select>
											<div class="input-group-append">
												<button class="input-group-text" data-ng-click="btnOpenTypeOfWork();">
													<i class="fa fa-plus"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="diachi col-md-5 col-sm-6 col-6 form-group">
									<div>
										<label for="add2" class="col-12">Tên công việc / dự án</label>
										<input type="text" class="col-12 form-control" id="projectworkname"
											placeholder="" data-ng-model="projectworkname" >
									</div>
								</div>
								<div class="diachi col-md-2 col-sm-6 col-6 form-group">
									<div>
										<label for="add3" class="col-12">Thời gian</label> <input
											class="col-12 form-control" id="time" data-ng-model="time">
									</div>
								</div>
								<div class="diachi col-md-2 col-sm-6 col-6 form-group">
									<div>
										<label for="add4" class="col-12">Quy mô</label> <input
											type="text" class="col-12 form-control" id="scale"
											placeholder="" data-ng-model="scale">
									</div>
								</div>
							</div>

							<div class="row tomtat">
								<div class="diachi col-md-12 form-group">
									<div>
										<label for="add5" class="col-12">Tóm tắt thông tin
											công việc / dự án</label>
										<textarea class="form-control" rows="3" placeholder="..." data-ng-model="summaryjobinformation"></textarea>
									</div>
								</div>
								<div class="diachi col-md-12 form-group">
									<div>
										<label for="add6" class="col-12">Chuyên môn / công
											nghệ chính áp dụng</label>
										<textarea class="form-control" rows="3" placeholder="..." data-ng-model="appliedtechnologyexpertise"></textarea>
									</div>
								</div>
							</div>

							<div class="row vaitrochinh">
								<div class="form-group col-md-3 col-sm-3 col-4">
									<label>Vai trò chính</label>
									<div class="input-group">
										<select class="form-control select2" style="width: 100%" data-ng-model="selectMainRole">
											<option ng-repeat="x in MainRole" value="{{x.id}}">{{x.displayText}}</option>
										</select>
										<div class="input-group-append">
											<button class="input-group-text" data-ng-click="btnOpenMainRole();">
												<i class="fa fa-plus"></i>
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="row trachnhiem">
								<div class="col-md-12 form-group">
									<div>
										<label for="add7" class="col-12">Trách nhiệm, công
											việc, thành tích</label>
										<textarea class="form-control" rows="3" placeholder="..." data-ng-model="responsibilityworkachievement"></textarea>
									</div>
								</div>
							</div>
							<div class="modal-footer justify-content-start py-1">
							<div class="row">
								<button type="submit" class="btn btn-success mx-2 mb-1" data-ng-click="saveExptable();">Lưu và thêm</button>
								<button type="" class="btn btn-success mx-2 mb-1">Lưu và đóng</button>
								<button type="submit" data-ng-click="closeModal()" class="btn btn-success mx-2 mb-1">Đóng</button>
							</div>
							</div>

</div>
						</form>
					</div>
					<!--end-rowform-->
				</div>

			</section>
<!-- 			<section class="content">

				<div class="card card-success">
					Titleform
					<div class="card-header">
						<h3 class="card-title">Kinh nghiệm, quá trình làm việc</h3>

					</div>
					end-Titleform
					table
					 <div class="">
                        <div class="table-data table-responsive overflow-auto" style="max-height: 300px" id="mygridtable1">
                        </div>
                    </div>
					end-table
				</div>

			</section> -->
		<!-- </div> -->
		<!--end.content-tag-nangluc-->
<!-- 		<div class="tab-pane " id="custom-tabs-one-exp" role="tabpanel"
			aria-labelledby="custom-tabs-one-exp-tab"></div>
		<div class="tab-pane " id="custom-tabs-one-struong" role="tabpanel"
			aria-labelledby="custom-tabs-one-struong-tab"></div>
		<div class="tab-pane " id="custom-tabs-one-sthich" role="tabpanel"
			aria-labelledby="custom-tabs-one-sthich-tab"></div>
		<div class="tab-pane " id="custom-tabs-one-rateuser" role="tabpanel"
			aria-labelledby="custom-tabs-one-rateuser-tab"></div>
		<div class="tab-pane " id="custom-tabs-one-adduser" role="tabpanel"
			aria-labelledby="custom-tabs-one-adduser-tab"></div>
		<div class="tab-pane " id="custom-tabs-one-searchuser" role="tabpanel"
			aria-labelledby="custom-tabs-one-searchuser-tab"></div>
 -->
	<!-- </div> -->
<!-- </div> -->
<!--end.content-tab-->
</div>


