<div class="modal-content">
	<!--modal header-->
	<div class="modal-header bg-success p-3">
		<h5 class="modal-title">Cập nhật Review hồ sơ</h5>
		<button type="button" class="close"
			data-ng-click="closeAdnewCatIModal();">&times;</button>
	</div>
	<!--modal boy-->
	<div class="card-body modal-profile px-2 py-2">
		<div class="row">
			<div class="form-group col-md-4">
				<label for="edit1" class="pl-2">Ngày review</label>
				<div class="input-group fromdate" id="dayreviewedit"
					data-target-input="nearest">
					<input id="start1" type="text" data-target="#dayreviewedit"
						data-ng-model="Dateview" class="form-control datetimepicker-input" />
					<div class="input-group-append" data-target="#dayreviewedit"
						data-toggle="datetimepicker">
						<div class="input-group-text">
							<i class="fa fa-calendar"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group col-md-4">
				<label for="perreview_edit" class="pl-2">Người review</label> <select
					type="text" name="perreview_edit" id="perreviewedit"
					class="form-control" data-ng-model="selectUseEdit">
				<option ng-repeat="x in useedit" value="{{x.id}}">{{x.userName}}</option>
				</select>

			</div>
			<div class="form-group col-md-4">
				<label for="pvi_reviewedit" class="pl-2">Phạm vi review</label> <select
					type="text" name="pvi_reviewedit" id="pvireviewedit"
					class="form-control" data-ng-model="selectpviReview">
					<option ng-repeat="x in pviReview" value="{{x.id}}">{{x.roundview}}</option>
					<!-- x.scope nghĩa là muốn lấy cột scope muốn hiển thị dropdown, tương tự như x.displaytext là lấy display  -->
				</select>
			</div>
		</div>
		<br>
		<div>
			<div class="row pl-2">
				<h6 class="col-md-2">
					<b>Review thông tin hồ sơ</b>
				</h6>
				<div class="col-md-1 pl-0">Đầy đủ</div>
				<div class="col-md-1 pl-0">Rõ ràng</div>
				<div class="col-md-1 pl-0">Chính xác</div>
				<div class="col-md-1 pl-0">Tin cậy</div>
				<div class="col-md-1 pl-0">Đạt</div>
				<div class="col-md-5 pl-0">Ý kiến review</div>
			</div>
			<br>
			<div class="row">
				<div class="form-group col-md-2 pl-3">Thông tin chung</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="daydu" id="daydu" class="check_class" data-ng-model="daydu_ttc">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="rorang" id="rorang"
						class="check_class" data-ng-model="rorang_ttc">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="chinhxac" id="chinhxac"
						class="check_class" data-ng-model="chinhxac_ttc">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="tincay" id="tincay"
						class="check_class" data-ng-model="tincay_ttc">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="dat" id="dat" class="check_class" data-ng-model="dat_ttc">
				</div>
				<div class="input-group col-md-5 pb-2">
					<input id="ykienreview0" type="text" data-target="#ykienreview0"
						placeholder="không có ý kiến" class="form-control" data-ng-model="ykienreview0_ttc" />
					<div class="input-group-append" data-target="#ykienreview0">
						<div class="input-group-text">
							<i class="fa fa-plus"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-2 pl-3">Thông tin năng lực</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="daydu1" id="daydu1"
						class="check_class1" data-ng-model="daydu_ttnl">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="rorang1" id="rorang1"
						class="check_class1" data-ng-model="rorang_ttnl">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="chinhxac1" id="chinhxac1"
						class="check_class1" data-ng-model="chinhxac_ttnl">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="tincay1" id="tincay1"
						class="check_class1" data-ng-model="tincay_ttnl">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="dat1" id="dat1" class="check_class1">
				</div>
				<div class="input-group col-md-5 pb-2">
					<input id="ykienreview1" type="text" data-target="#ykienreview1"
						placeholder="không có ý kiến" class="form-control"  data-ng-model="ykienreview1_ttnl"/>
					<div class="input-group-append" data-target="#ykienreview1">
						<div class="input-group-text">
							<i class="fa fa-plus"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-2 pl-3">Thông tin kinh nghiệm</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="daydu2" id="daydu2"
						class="check_class2" data-ng-model="daydu_ttkn">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="rorang2" id="rorang2"
						class="check_class2" data-ng-model="rorang_ttkn">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="chinhxac2" id="chinhxac2"
						class="check_class2" data-ng-model="chinhxac_ttkn">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="tincay2" id="tincay2"
						class="check_class2" data-ng-model="tincay_ttkn">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="dat2" id="dat2" class="check_class2" data-ng-model="dat_ttkn">
				</div>
				<div class="input-group col-md-5 pb-2">
					<input id="ykienreview2" type="text" data-target="#ykienreview2"
						placeholder="không có ý kiến" class="form-control"  data-ng-model="ykienreview2_ttkn"/>
					<div class="input-group-append" data-target="#ykienreview2">
						<div class="input-group-text">
							<i class="fa fa-plus"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-2 pl-3">Sở trường, sở thích</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="daydu3" id="daydu3"
						class="check_class3" data-ng-model="daydu_stst">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="rorang3" id="rorang3"
						class="check_class3" data-ng-model="rorang_stst">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="chinhxac3" id="chinhxac3"
						class="check_class3" data-ng-model="chinhxac_stst">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="tincay3" id="tincay3"
						class="check_class3" data-ng-model="tincay_stst">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="dat3" id="dat3" class="check_class3" data-ng-model="dat_stst">
				</div>
				<div class="input-group col-md-5 pb-2">
					<input id="ykienreview3" type="text" data-target="#ykienreview3"
						placeholder="không có ý kiến" class="form-control"  data-ng-model="ykienreview3_stst"/>
					<div class="input-group-append" data-target="#ykienreview3">
						<div class="input-group-text">
							<i class="fa fa-plus"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-2 pl-3">Thông tin đào tạo</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="daydu4" id="daydu4"
						class="check_class4" data-ng-model="daydu_ttdt">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="rorang4" id="rorang4"
						class="check_class4" data-ng-model="rorang_ttdt">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="chinhxac4" id="chinhxac4"
						class="check_class4" data-ng-model="chinhxac_ttdt">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="tincay4" id="tincay4"
						class="check_class4" data-ng-model="tincay_ttdt">
				</div>
				<div class="form-group col-md-1 px-3">
					<input type="checkbox" name="dat4" id="dat4" class="check_class4" data-ng-model="dat_ttdt">
				</div>
				<div class="input-group col-md-5 pb-2">
					<input id="ykienreview4" type="text" data-target="#ykienreview4"
						placeholder="không có ý kiến" class="form-control"  data-ng-model="ykienreview4_ttdt"/>
					<div class="input-group-append" data-target="#ykienreview4">
						<div class="input-group-text">
							<i class="fa fa-plus"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-2 pl-3">Kết luận hồ sơ</div>
				<div class="input-group col-md-2 pb-2">
					<select type="text" name="ketluan" id="ketluan"
						class="form-control" data-ng-model="selectResultProfile">
						<option ng-repeat="x in ResultProfile" value="{{x.id}}">{{x.displayText}}</option>
					</select>
					<div class="input-group-append" data-target="#ketluan">
						<div class="input-group-text" data-ng-click="btnResult()">
							<i class="fa fa-plus"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<h6 class="pl-3">
				<b><br>Review đánh giá member<br> <br></b>
			</h6>
		</div>
		<form>
		<div class="row">
			<div class="form-group col-md-2">
				<h6 class="pl-2">Điểm thái độ</h6>
				<input type="text" name="diemthaido" class="form-control" data-ng-model="diemthaido">
			</div>
			<div class="col-md-10">
				<h6 for="ykienreview" class="pl-2">Ý kiến review chi tiết</h6>
				<div class="input-group">
					<input id="ykienreview6" type="text" data-target="#ykienreview6"
						placeholder="không có ý kiến" class="form-control" data-ng-model="reviewchitiet6">
					<div class="input-group-append" data-target="#ykienreview6">
						<div class="input-group-text">
							<i class="fa fa-plus"></i>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-2">
				<h6 class="pl-2">Điểm chuyên môn</h6>
				<input type="text" name="diemchuyenmon" class="form-control" data-ng-model="diemchuyenmon">
			</div>
			<div class="col-md-10">
				<h6 for="ykienreview" class="pl-2">Ý kiến review chi tiết</h6>
				<div class="input-group">
					<input id="ykienreview7" type="text" data-target="#ykienreview7"
						placeholder="không có ý kiến" class="form-control" data-ng-model="reviewchitiet7">
					<div class="input-group-append" data-target="#ykienreview7">
						<div class="input-group-text">
							<i class="fa fa-plus"></i>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-2">
				<h6 class="pl-2">Điểm kinh nghiệm</h6>
				<input type="text" name="diemkinhnghiem" class="form-control" data-ng-model="diemkinhnghiem">
			</div>
			<div class="col-md-10">
				<h6 for="ykienreview" class="pl-2">Ý kiến review chi tiết</h6>
				<div class="input-group">
					<input id="ykienreview8" type="text" data-target="#ykienreview8"
						placeholder="không có ý kiến" class="form-control" data-ng-model="reviewchitiet8">
					<div class="input-group-append" data-target="#ykienreview8">
						<div class="input-group-text">
							<i class="fa fa-plus"></i>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-2">
				<h6 class="pl-2">Điểm kỹ năng mềm</h6>
				<input type="text" name="diemkynang" class="form-control" data-ng-model="diemkynang">
			</div>
			<div class="col-md-10">
				<h6 for="ykienreview" class="pl-2">Ý kiến review chi tiết</h6>
				<div class="input-group">
					<input id="ykienreview9" type="text" data-target="#ykienreview9"
						placeholder="không có ý kiến" class="form-control" data-ng-model="reviewchitiet9">
					<div class="input-group-append" data-target="#ykienreview9">
						<div class="input-group-text">
							<i class="fa fa-plus"></i>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-2">
				<h6 class="pl-2">Điểm kỹ ngoại ngữ</h6>
				<input type="text" name="diemngoaingu" class="form-control" data-ng-model="diemngoaingu">
			</div>
			<div class="col-md-10">
				<h6 for="ykienreview" class="pl-2">Ý kiến review chi tiết</h6>
				<div class="input-group">
					<input id="ykienreview10" type="text" data-target="#ykienreview10"
						placeholder="không có ý kiến" class="form-control" data-ng-model="reviewchitiet10">
					<div class="input-group-append" data-target="#ykienreview10">
						<div class="input-group-text">
							<i class="fa fa-plus"></i>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-2">
				<h6 class="pl-2">Khác</h6>
				<input type="text" name="khac" class="form-control" data-ng-model="khac">
			</div>
			<div class="col-md-10">
				<h6 for="ykienreview" class="pl-2">Ý kiến review chi tiết</h6>
				<div class="input-group">
					<input id="ykienreview11" type="text" data-target="#ykienreview11"
						placeholder="không có ý kiến" class="form-control" data-ng-model="reviewchitiet11">
					<div class="input-group-append" data-target="#ykienreview11">
						<div class="input-group-text">
							<i class="fa fa-plus"></i>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-2">
				<h6 class="pl-2" style="color: red">Tổng cộng</h6>
				<input type="text" name="sum" class="form-control" data-ng-model="Conclusion">
			</div>
			<div class="col-md-2">
				<h6 for="ketluan2" class="pl-2" style="color: red">Kết luận</h6>
				<div class="input-group">
					<select type="text" name="ketluan2" id="ketluan2"
						class="form-control" data-ng-model="selectResult">
						<option ng-repeat="x in Result" value="{{x.id}}">{{x.displayText}}</option>
					</select>
					<div class="input-group-append" data-target="#ketluan2">
						<div class="input-group-text" data-ng-click="btnResult2()">
							<i class="fa fa-plus"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group col-md-2">
				<h6 for="xephang_edit" class="pl-2" style="color: red">Giá trị xếp hạng</h6>
				<input type="text" name="xephang_edit" id="xephang_edit" class="form-control" data-ng-model="rank">
			</div>
			<div class="col-md-6">
				<h6 class="pl-2" style="color: red">Ý kiến
					review chung</h6>
				<div class="input-group">
					<input id="ykienreview12" type="text" data-target="#ykienreview12"
						placeholder="không có ý kiến" class="form-control" data-ng-model="Note">
					<div class="input-group-append" data-target="#ykienreview12">
						<div class="input-group-text">
							<i class="fa fa-plus"></i>
						</div>
					</div>

				</div>
			</div>
		</div>
		</form>

		<div class="row">
			<div class="col-md-2 pb-5">
				<button type="button" class="btn-sm btn-block btn-success mt-2"
					data-ng-click="saveNnext()">Lưu và tiếp</button>
			</div>
			<div class="col-md-2 pb-5">
				<button type="button" class="btn-sm btn-block btn-success mt-2"
					data-ng-click="saveNclose()">Lưu và đóng</button>
			</div>
			<div class="col-md-2 pb-5">
				<button type="reset" class="btn-sm btn-block btn-success mt-2"
					data-ng-click="closeAdnewCatIModal()">Đóng</button>
			</div>

		</div>

	</div>

</div>
</div>
</div>