<!--popup------>
<div class="btn-success modal-header title-small col-12">
	<h5 class="modal-title" data-ng-model="headerPopup">{{modalsystemtitle}}</h5>
</div>
<div class="modal-body">
	<form>
		<div class="form-group row">
			<label for="plcn" class="col-5 text-left pl-2">{{modalsystem2}}<span class="red">*</span>
			</label> <select type="text" name="plcn" id="plcn" class="form-control col-7"
				data-ng-model="selectFunctionalClassification">
				<option data-ng-repeat="x in functionalClassificationList"
					value="{{x.id}}">{{x.displayText}}</option>
			</select>
			<div class="text-danger">{{plcnMessage}}</div>
		</div>
		<div class="form-group row">
			<label for="cnc" class="col-5 text-left pl-2">{{modalsystem3}}</label> <select
				type="text" name="name" id="cnc" class="form-control col-7"
				data-ng-model="selectParentFunction">
				<option data-ng-repeat="x in parentFunctionList" value="{{x.id}}">{{x.displayText}}</option>
			</select>
			<div class="text-danger">{{cncMessage}}</div>
		</div>

		<div class="form-group row">
			<label for="add1" class="col-5 text-left pt-2">{{modalsystem4}}<span
				class="red">*</span>
			</label> <input type="text" class="form-control select2 col-7"
				id="codeSystem" placeholder="" data-ng-model="codeSystem">
			<div class="text-danger">{{codeSystemMessage}}</div>
		</div>
		<div class="form-group row">
			<label for="add1" class="col-5 text-left pt-2">{{modalsystem5}}<span
				class="red">*</span>
			</label> <input type="text" class="form-control select2 col-7" id="url"
				placeholder="" data-ng-model="url">
			<div class="text-danger">{{urlMessage}}</div>
		</div>
		<div class="form-group row">
			<label for="add1" class="col-5 text-left pt-2">{{modalsystem6}} </label> <input
				type="text" class="form-control select2 col-7" id="css"
				placeholder="" data-ng-model="css">
			<div class="text-danger">{{cssMessage}}</div>
		</div>
		<div class="form-group row">
			<label for="stt" class="col-5 text-left pl-2">{{modalsystem7}}<span
				class="red">*</label> <select type="text" name="name" id="stt"
				class="form-control col-7" data-ng-model="selectStatus">
				<option data-ng-repeat="x in StatusSystemList" value="{{x.code}}">{{x.displayText}}</option>
			</select>
			<div class="text-danger">{{sttMessage}}</div>
		</div>
		<div class="form-group row">
			<label for="lang" class="col-5 text-left pl-2">{{modalsystem8}}<span
				class="red">*</label> <select type="text" name="name" id="lang"
				class="form-control col-7" data-ng-model="selectLanguageSystem" data-ng-change="fnChangeLang()">
				<option data-ng-repeat="x in languageSystemList" value="{{x.langCode}}">{{x.displayText}}</option>
			</select>
			<div class="text-danger">{{langMessage}}</div>
		</div>
		<div class="form-group row">
			<label for="add1" class="col-5 text-left pt-2">{{modalsystem9}}<span
				class="red">*</span>
			</label> <input type="text" class="form-control select2 col-7"
				id="codeSystem" placeholder="" data-ng-model="nameSystem">
			<div class="text-danger">{{nameSystemMessage}}</div>
		</div>




		<div class="text-center pb-2">
			<button data-ng-click="clickSaveContinue()" type="button"
				class="btn btn-success px-3 py-1  mt-1" data-dismiss="modal">{{modalsystem10}}</button>
			<button data-ng-click="clickSaveAdd()" type="button"
				class="btn btn-success px-3 py-1  mt-1" data-dismiss="modal">{{modalsystem11}}</button>
			<button data-ng-click="clickSaveClose()" type="button"
				class="btn btn-success px-3 py-1  mt-1" data-dismiss="modal">{{modalsystem12}}</button>
			<button data-ng-click="exit()" type="button"
				class="btn btn-success px-3 py-1 mt-1" data-dismiss="modal">{{modalsystem13}}</button>
		</div>
	</form>
</div>
<!--.end Popup-->