<div class="card card-success card-tabs mb-0 ng-scope">
	<div class="card-header p-0 pt-1">
		<ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
			<li class="nav-item"><a class="nav-link {{showUserlist}} "
				id="custom-tabs-one-dsu-tab" data-toggle="pill"
				href="custom-tabs-one-dsu" role="tab"
				aria-controls="custom-tabs-one-dsu" aria-selected="false"
				data-ng-click="clickTab('userlist');">{{userlist2}}</a></li>
		</ul>
	</div>
	<div class="card-body">
		<div class="tab-content" id="custom-tabs-four-tabContent">
			<div class="tab-pane {{showUserlist}}" id="custom-tabs-one-dsu"
				role="tabpanel" aria-labelledby="custom-tabs-one-dsu-tab">
				<section class="content">
					<div class="card card-success">
						<!--Titleform-->
						<div class="card-header pb-0">
							<h3 class="card-title">{{userlist3}}</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool"
									data-card-widget="collapse" data-toggle="tooltip"
									title="Collapse">
									<i class="fas fa-minus mb-3"></i>
								</button>
							</div>
						</div>
						<!--end-Titleform-->
						<!--colform-->
						<div class="card-body px-2 py-2">
							<form>
								<div class="row">
									<!--column1-->
									<div class="col-md-4 col-lg-4 form-group mb-0">
										<label for="usename">{{userlist4}}</label> <input
											type="text" class="form-control" id="exampleInputrolename"
											data-ng-model="usename" placeholder="{{userlist4}}">
									</div>
									<!--end-column1-->
									<div class="col-md-4 col-lg-4 form-group mb-0">
										<label for="email">{{userlist5}}</label> <input type="text"
											class="form-control" id="exampleInputrolename"
											data-ng-model="email" placeholder="{{userlist5}}">
									</div>
									<div class="col-md-4 col-lg-4 form-group mb-0 ">
										<label for="status">{{userlist6}}</label>
										<div class="input-group">
											<select class="form-control select2"
												data-ng-model="StatusGroupList">
												<option data-ng-repeat="x in StatusList" value={{x.code}}>{{x.displayText}}</option>
											</select>
										</div>
									</div>
								</div>
							</form>
							<form>
								<div class="row">
									<!--column1-->
									<div class="col-md-4 col-lg-4 form-group mb-0 ">

										<button type="submit" class="btn btn-success"
											style="margin-top: 10%;" data-ng-click="searchFilter()">{{userlist7}}</button>
										<button type="reset" class="btn btn-success"
											style="margin-top: 10%;" data-ng-click="clearFilter()">{{userlist8}}</button>
									</div>
									<!--end-column1-->
								</div>

							</form>
						</div>
						<!--end-rowform-->
					</div>

				
				</section>
				<p>{{date | date:'yyyy-MM-dd'}}</p>
				<section class="content">
					<div class="card card-success">
						<!--Titleform-->
						<div class="card-header">
							<h3 class="card-title">{{userlist9}}</h3>

						</div>
						<div class="row">
							<button type="submit" class="btn btn-success mx-4 my-5 "
								data-ng-click="btnaddUserList();">{{userlist10}}</button>
							<button type="reset" class="btn btn-success my-5"
								data-ng-click="btndeleteUserList();">{{userlist11}}</button>
						</div>
						<!--end-Titleform-->
						<!--table-->
						<div id="gridUseLists"
							class="table-data table-responsive overflow-auto"
							style="height: 350px;"></div>
						<!--end-table-->
					</div>

				</section>
			</div>
			<!--content-tag-skill-->

		</div>
		<!-- /.content -->
	</div>
	<!-- Main Footer -->
</div>