<div class="card-body" data-ng-controller="TrainController">
	<div class="tab-content" id="custom-tabs-one-tabContent">
		<div class="tab-pane active show" id="custom-tabs-one-profile"
			role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
			<div class="filter">
				<div class="card">
					<div class="card-header py-2 bg-success">

						<b> Lọc, tìm kiếm</b>

						<div class="card-tools">
							<!-- Collapse Button -->
							<button type="button" class="btn btn-tool"
								data-card-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
						<!-- /.card-tools -->
					</div>
					<!-- /.card-header -->
					<div class="card-body">

						<form action="">
							<div class="row">
								<div class="col-3">
									<div class="form-group">
										<label>Chuyên ngành</label>
										<div class="input-group mb-3">
											<select
												class="form-control select2 select2-hidden-accessible"
												data-ng-model="Specialized" style="width: 100%;"
												data-select2-id="1" tabindex="-1" aria-hidden="true">
												<option selected="selected" value="0">--Chọn chuyên ngành--</option>
												<option data-ng-repeat="x in  specialized" value="{{x.id}}">{{x.displayText}}</option>

											</select>
											<div class="input-group-append">
												<button class="input-group-text"
													data-ng-click="insertSpecialized()">
													<i class="fa fa-plus"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-3">
									<div class="form-group">
										<label>Hệ đào tạo</label>
										<div class="input-group mb-3">
											<select
												class="form-control select2 select2-hidden-accessible"
												data-ng-model="TrainingSystem" style="width: 100%;"
												data-select2-id="1" tabindex="-1" aria-hidden="true">
													<option selected="selected" value="0">--Hệ đào tạo--</option>
												<option data-ng-repeat="x in trainingSystem"
													value="{{x.id}}">{{x.displayText}}</option>

											</select>
											<div class="input-group-append">
												<button class="input-group-text"
													data-ng-click="insertTrainingSystem()">
													<i class="fa fa-plus"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-3">
									<div class="form-group">
										<label>Trình độ đào tạo</label>
										<div class="input-group mb-3">
											<select
												class="form-control select2 select2-hidden-accessible"
												data-ng-model="DegreeTraining" style="width: 100%;"
												data-select2-id="1" tabindex="-1" aria-hidden="true">
												<option selected="selected" value="0">--Trình độ đào tạo--</option>
												<option data-ng-repeat="x in degreeTraining"
													value="{{x.id}}">{{x.displayText}}</option>

											</select>
											<div class="input-group-append">
												<button class="input-group-text"
													data-ng-click="insertDegreetraining()">
													<i class="fa fa-plus"></i>
												</button>
											</div>
										</div>
									</div>



								</div>
							</div>
						</form>
					</div>
					<div class="button row ml-1 mb-3">
						<input type="button" class="btn btn-success ml-2"
							ng-click="filterForm()" value="Lọc form"></input> <input
							type="button" class="btn btn-success ml-2"
							ng-click="deleteForm()" value="Xóa form"></input>


					</div>
				</div>
				<!-- /.card-body -->
			</div>
		</div>

		</form>

		<div class="row">
			<div class="col-sm-12 table card  mailbox-messages p-0">
				<div class="title-table card-header col-12 bg-success p-2">
					<b>Quá trình đào tạo</b>
					<div class="card-tools">
						<!-- Collapse Button -->
						<button type="button" class="btn btn-tool"
							data-card-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
					</div>
					<!-- /.card-tools -->
				</div>

				<div class="button row mt-3 ml-1 mb-2">
					<input type="button" class="btn btn-success ml-2"
						ng-click="addTrainingProcess()" value="Thêm mới"></input> <input
						type="button" class="btn btn-success ml-2"
						ng-click="deleteTrainingProcess()" value="Xóa"></input>

				</div>
				<div id="myGridTable" style="height: 350px;"
					class="table-responsive p-3"></div>

				<div id="paginationTrain"></div>
			</div>

		</div>

	</div>
</div>