<div class="card card-success card-tabs mb-0"
	data-ng-controller="ProfileGeneralController">
	<div class="card-body">
		<div class="tab-content" id="custom-tabs-four-tabContent">
			<div class="tab-pane  show active" id="custom-tabs-four-TTC"
				role="tabpanel" aria-labelledby="custom-tabs-four-TTC-tab">
				<div class="infomation ">
					<div class="form row">
						<div class="form-group col-md-9">
							<div class="row">
								<div class="col-md-6 mt-2">
									<label for="exampleInputEmail1">Họ</label> <input
										data-ng-model="firstName" type="ho" class="form-control"
										id="exampleInputEmail1" placeholder="Họ">
								</div>
								<div class="col-md-6 mt-2">
									<label for="exampleInputEmail1">Tên</label> <input
										data-ng-model="lastName" type="ho" class="form-control"
										id="exampleInputEmail1" placeholder="Tên">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 mt-2">
									<label>Ngày sinh</label>
									<div class="input-group date" id="reservationdate"
										data-target-input="nearest">
										<input data-ng-model="birthDay" type="text"
											class="form-control datetimepicker-input"
											data-target="#reservationdate" />
										<div class="input-group-append" data-target="#reservationdate"
											data-toggle="datetimepicker">
											<div class="input-group-text">
												<i class="fa fa-calendar"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 mt-2">

									<label>Giới tính</label>

									<div class="form-group clearfix ml-3">
										<div class="icheck-success d-inline mr-3">
											<input  data-ng-model="gender" value ="46" name="checkboxgender" type="radio"
												id="checkboxSuccess1"> <label for="checkboxSuccess1">
												Nam </label>
										</div>
										<div class="icheck-success d-inline">
											<input data-ng-model="gender" value ="47" name="checkboxgender" type="radio"
												id="checkboxSuccess2"> <label for="checkboxSuccess2">
												Nữ </label>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 mt-2">
									<label for="exampleInputEmail1">Điện thoại</label> <input
										data-ng-model="PhoneNumber" type="hoten" class="form-control"
										id="phone" placeholder="Điện thoại">
								</div>
								<div class="col-md-4 mt-2">
									<label for="exampleInputEmail1">Email</label> <input
										data-ng-model="AdressEmail" type="Email" class="form-control"
										id="exampleInputEmail1" placeholder="Email">
								</div>
								<div class="col-md-4 mt-2">
									<div class="form-group">
										<label>Hôn nhân</label>
										<div class="input-group">
											<select class="form-control select2" style="width: 100%;"
												data-ng-model="selectMarriage">
												<option data-ng-repeat="x in marrystatus" value="{{x.id}}">{{x.displayText}}</option>
											</select>
											<div class="input-group-append">
												<button class="input-group-text">
													<i class="fa fa-plus"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div  class="form-group col-md-12">
									<label>Thường trú</label>
									<textarea data ng-model="addres" class="form-control" rows="3"
										placeholder="Địa chỉ thường trú..."></textarea>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 mt-2">
									<label>Ngày nộp hồ sơ</label>
									<div class="input-group date" id="reservationdate2"
										data-target-input="nearest">
										<input data-ng-model="submissiondate" type="text" class="form-control datetimepicker-input"
											data-target="#reservationdate2" />
										<div class="input-group-append"
											data-target="#reservationdate2" data-toggle="datetimepicker">
											<div class="input-group-text">
											<i class="fa fa-calendar"></i>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<label class="mt-2">Công việc ứng tuyển</label>
									<div class="input-group">
										<select class="form-control select2" style="width: 100%;"
											data-ng-model="selectJobAplly">
											<option data-ng-repeat="x in jobapply" value="{{x.id}}">{{x.displayText}}</option>
										</select>
										<div class="input-group-append">
											<button class="input-group-text"
												data-ng-click="btnJobApplyNew()">
												<i class="fa fa-plus"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<label class="mt-2">Vị trí</label>
									<div class="input-group">
										<select class="form-control select2" style="width: 100%;"
											data-ng-model="selectLevel">
											<option data-ng-repeat="x in jobPosition" value="{{x.id}}">{{x.displayText}}</option>
										</select>
										<div class="input-group-append">
											<button data-ng-click="btnJobPosition()"
												class="input-group-text">
												<i class="fa fa-plus"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="row mt-2 mb-2">
								<div class="col-md-4">
									<label>Trạng thái hồ sơ</label>
									<div class="input-group">
										<select class="form-control select2" style="width: 100%;"
											data-ng-model="selectSttProfiles">
											<option data-ng-repeat="x in status" value="{{x.id}}">{{x.displayText}}</option>
										</select>
										<div class="input-group-append">
											<button data-ng-click="btnStatus()" class="input-group-text">
												<i class="fa fa-plus"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="pict col-md-3 mt-3">
							<div class="row text-center">
								<div class="col-md-2 col-2"></div>
								<img ng-src="{{PreviewImage}}" ng-show="PreviewImage != null"
									alt="" style="height: 200px; width: 200px" id="fileAvarta" />
								<div class="col-md-2 col-2"></div>
							</div>
							<div class="row mb-3 text-center mt-2">
								<div class="col-md-3 col-4"></div>
								<input type="file"
									onchange="angular.element(this).scope().SelectFile(event)"
									file-model="myForm.files[0]" accept="image/*" />
								<div class="col-md-3 col-4"></div>
							</div>
						</div>
					</div>

					<section class="content">
						<div class="row">
							<div class="col-md-12">
								<div class="card card-success">
									<div class="card-header">
										<h3 class="card-title font-weight-unset">Mô tả ngắn về
											bản thân</h3>
										<!-- tools box -->
										<div  class="card-tools">
											<button type="button" class="btn btn-tool btn-sm"
												data-card-widget="collapse" data-toggle="tooltip"
												title="Collapse">
												<i class="fas fa-minus"></i>
											</button>

										</div>
										<!-- /. tools -->
									</div>
									<!-- /.card-header -->
									<div class="card-body pad">
										<div class="mb-3">
											<textarea data-ng-model="remark" class="textarea"
												placeholder="Kinh nghiệm, trình độ chuyên môn, sở thích..."
												style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
										</div>
									</div>
								</div>
							</div>
							<!-- /.col-->
						</div>
						<!-- ./row -->
					</section>
					<div class="button row mb-4 ml-3">
						<div class="button col-md-12 text-md-left col-12 text-center mt-2">
							<button type="submit" data-ng-click="SaveAll()"
								class="btn btn-success mr-2">Lưu</button>
							<button type="submit" data-ng-click="ClearAll()"
								class="btn btn-success mr-2" >Xóa hồ sơ</button>
							<button type="button" class="btn btn-success">Trở về</button>
						</div>
					</div>
				</div>

				<div class="tab-pane succes" id="custom-tabs-four-DTNL"
					role="tabpanel" aria-labelledby="custom-tabs-four-DTNL-tab"></div>
				<div class="tab-pane " id="custom-tabs-four-KN" role="tabpanel"
					aria-labelledby="custom-tabs-four-KN-tab"></div>
				<div class="tab-pane " id="custom-tabs-four-STr" role="tabpanel"
					aria-labelledby="custom-tabs-four-STr-tab"></div>
				<div class="tab-pane " id="custom-tabs-four-STh" role="tabpanel"
					aria-labelledby="custom-tabs-four-STh-tab"></div>
				<div class="tab-pane " id="custom-tabs-four-Dghs" role="tabpanel"
					aria-labelledby="custom-tabs-four-Dghs-tab"></div>
				<div class="tab-pane " id="custom-tabs-four-Tmhs" role="tabpanel"
					aria-labelledby="custom-tabs-four-Tmhs-tab"></div>
				<div class="tab-pane " id="custom-tabs-four-Tkhs" role="tabpanel"
					aria-labelledby="custom-tabs-four-Tkhs-tab"></div>
			</div>

			<!-- /.card -->
		</div>
	</div>
</div>
<!-- /.content -->

<!-- Main Footer -->