input[type=checkbox] {

-ms-transform: scale(1.2); 
-moz-transform: scale(1.2); 
-webkit-transform: scale(1.2); 
-o-transform: scale(1.2); 
transform: scale(1.2);
padding: 10px;
}


.checkboxtext {
font-size: 110%;
display: inline;
}

.modal-profile {
max-height: 600px;
overflow-y: auto;
}


.checkboxtext {

font-size: 110%;
display: inline;
}

.modal-profile {
max-height: 600px;
overflow-y: auto;
}
.menuleft a:hover{
	color: #28a745 !important;
}

.changepage a{
	color: black !important;
}
.active1 a{
	background-color: #28a745 !important;
	color: white !important;
	border: 1px solid #28a745 !important;
}
.afogortpass a{
	    text-decoration: underline !important;
}
.afogortpass a:hover{
	    text-decoration: none !important;
}
.btnformlogin{
	width: 100px;
}
/* input[type=checkbox]{
	display: none !important;
} */

.label:before{
    content: "" !important;
    display: inline-flex !important;
    width: 17px !important;
    height: 17px !important;
    background-color: white!important;
    border-radius: 3px !important;
    border: 1px solid gray;

}
input[type=checkbox]:checked + .label:before{
	content: "\2713" !important;
    font-size: 15px !important;
    background-color: #28a745 !important;
    color: white !important;
   	justify-content: center;
   	align-items: center;
   
}
.nglef-0 {
    margin-left: 0 !important;
   }
   .nglef-250{
       margin-left: 250px !important;
   }

   /* custom bootstrap 3 modal .fade class */ 
.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear
}

.fade.in {
	opacity: 1
}
.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%)
}
.modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0
}
.modal-dialog {
    margin-top: 150px;    
}
a.nav-link.p-0 {
display: inline-flex !important;
}